.vote {
  display: inline-block;
  background: ghostwhite;
  padding: 3mm;
  margin: 3mm;
  position:relative;
}

.candidate {
    background: ghostwhite;
    padding: 3mm;
    display: inline-block;
    margin: 3mm;
    position:relative;
    padding-right: 10mm;
}


ul.candidatevote{
    padding: 3mm;
    margin: 0;
    list-style-type: none;
}

.candidatevote li{
    background: gray;
    padding: 1mm;
    margin: 1mm;
    margin-bottom:0; 
    color: black;
}

.win { font-weight: bold}
.loose { font-style: italic}


.delete{ 
    width: 5mm;
    height: 5mm;
    padding: 1mm;
    line-height: 3mm;
    position: absolute;
    right: 3mm;
}

.rank{
    min-height: 5mm;
    border: black solid 0.1mm;
}