.vote {
  display: inline-block;
  vertical-align:top;
  background: ghostwhite;
  padding: 3mm;
  margin: 3mm;
  position:relative;
  border: 0.1em solid gray;
  border-radius:0.1em; 
}

.candidate {
    background: ghostwhite;
    padding: 0.3em;
    display: inline-block;
    vertical-align:top;
    margin: 0.2em;
    position:relative;
    border: 0.1em solid gray;
    border-radius:0.1em; 
}


ul.candidatevote{
    padding: 3mm;
    margin: 0;
    list-style-type: none;
}

.candidatevote li{
    background: white;
    padding: 1mm;
    margin: 1mm;
    margin-bottom:0; 
    color: black;

    padding-left:0.4em; 
    border: solid 0.1em black; 
    border-left: solid 1em black; 
}

.win { font-weight: bold}
.loose { font-style: italic}


.delete{ 
    width: 5mm;
    height: 5mm;
    padding: 1mm;
    line-height: 3mm;
    position: absolute;
    right: 3mm;
}

.rank{
    /* border: black solid 0.1mm;*/
    margin: 0.2em;
    background: ghostwhite;
    border : gray 0.1em dashed;
}

div.part{
    padding: 1em;
}

div.part.intro{
    background:#d5ffa3;
}

div.part.votes{
    background:#a3ffd8;
}

div.part.result{
    background:#a3c6ff;
    padding-bottom: 5em; 
}

div.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: white;
    border-top: 0.01em dashed black;
    color: 0;
    opacity: 0.9;
    padding: 0em;
    padding-left: 1em;
    font-size: 0.5em; 
}