/* You can add global styles to this file, and also import other style files */

/* Master Styles */
h1{
  font-size: 4em; 
  
}

h2{
  font-size: 3em; 
}

h1,h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0em;
  margin: 0.2em;
} 
body{
  margin:0;
  font-size: 1.5em; 
}
body, input[text], button {
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

a {
   background : black;
   color: white;
   border-radius: 0.1em;
   padding: 0.1em; 
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}



/* dnd */
/*
.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}*/